
html {
    background-color: black;
    color: aquamarine;
    font-family: sans-serif;
}

button {
    color: white;
    background-color: blue;
    font-family: sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

h1 {
    text-align: center;
}

input {
    display: block;
    margin: 10px;
    padding: 1px;
}

#country-info, #bordering-countries {
    margin-top: 2px;
    text-align: 1px;
}

img {
    width: 100px;
    height: auto;
    display: block;
    margin: 1px;
}
